#content {
	font-size: 12px;
}
.container {
	display: inline-flex;
}
.formContainer {
	display: inline-block;
	margin: 30px;
	max-width: 1200px;
	padding: 50px;
}

.inputBox {
  margin: 15px;
	height: 35px;
	width: 500px;
	padding: 10px;
	font-size: 12px;
	font-weight: bold;
}

.outputBox {
  margin: 15px;
	height: 35px;
	width: 500px;
	padding: 10px;
	font-size: 12px;
	font-weight: bold;
}

.formButton {
	display: inline;
	height: 35px;
	width: 60px;
	margin: 15px;
}

.default {
	display: inline-block;
	margin-left:20px;
	margin-top:7px;
	vertical-align: top;
	font-weight: bold;
	color: black;
}

.circle-wrapper {
	width: 100px !important;
	height: 50px !important;
	margin-left: auto;
	margin-right: auto;
}

.verificationBox {
	display: inline-block;
  height: 35px;
  width: 80px;
  margin-left: 50px;
}
